<!-- <header class="bg-white border-b border-gray-200">
  <div class="mx-auto flex h-16 items-center justify-between px-6">

    <div class="flex items-center gap-10">
      
      <div class="flex items-center gap-2">
        <h1>LANGUAGE APP</h1>
      </div>

      <nav class="flex gap-6">
        <a href="#" class="relative font-medium text-gray-900">
          Dashboard
          <span class="absolute left-0 -bottom-4.5 h-0.5 w-full rounded bg-indigo-600"></span>
        </a>
        <a href="#" class="font-medium text-gray-500 hover:text-gray-900">Team</a>
        <a href="#" class="font-medium text-gray-500 hover:text-gray-900">Projects</a>
        <a href="#" class="font-medium text-gray-500 hover:text-gray-900">Calendar</a>
      </nav>
    </div>

    <div class="flex align-middle ml-auto gap-3">
        <form class="flex items-center gap-3">
            <input type="text" class="input" placeholder="Email">
            <input type="password" class="input" placeholder="Password">
            <button class="btn btn-success">Login</button>
        </form>
    </div>

  </div>
</header>
 -->
<div class="navbar bg-base-100 shadow">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl text-primary">Lingua</a>
  </div>
  <div class="flex-none gap-2">

    <div class="dropdown mr-5 dropdown-end">
      <button tabindex="1" class="flex flex-col justify-center align-middle 
                     cursor-pointer uppercase text-xs">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6 flex self-center">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42" />
        </svg>
        <span>{{selectedTheme()}}</span>
      </button>
      <ul tabindex="1" class="dropdown-content z-50 menu bg-base-100 rounded-box w-52 p-2 shadow-sm">
        @for (theme of themes; track $index) {
        <li (click)="handleSelectTheme(theme)">
          <a>{{theme}}</a>
        </li>
        }
      </ul>
    </div>


    <a class="btn btn-ghost">Login</a>
    <a class="btn btn-primary">Start gratis</a>
  </div>
</div>